:root {
    --black-white-100: #3B3B44;
    --black-white-50: #F4F5F9;
    --white: #FFFFFF;
    --grey-neutro: #7A8285;
    --grey: #EEEEEE;
}


body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    --padding-container: 1.5rem;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    height: 100%;
}

.header {
    font-size: 0px;
    height: 60px;
}

.hero {
    background-color: var(--black-white-50);
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.our-solutions-title {
    margin: 0;
}

.hero-title {
    font-size: 40px;
    line-height: 42.76px;
    color: var(--black-white-100);
    font-weight: 900;
    margin: 0;
}

.hero-subtitle {
    color: var(--black-white-100);
    font-weight: 700;
    font-size: 16px;
    line-height: 22.94px;
}

.card {
    border-radius: 12.41px;
    box-shadow: 0px 0.9924356937408447px 9.924356460571289px 0px #7090B026;
    background-color: var(--white);
}

.our-solutions-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 25.66px;
    color: var(--black-white-100);
    margin-top: 4rem;
}

.our-solutions-img {
    margin-top: 1.5rem;
    width: 174.83px;
    height: 154.06px;
    border-radius: 17.96px;

}

.our-solutions-item-container {
    padding: 1.5rem;
    padding-top: 4rem;
    margin-top: -2rem;
}

.our-solutions-item-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 23.52px;
}

.our-solutions-item-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 22.6px;
    color: var(--grey-neutro);
}

.our-solutions-item-text-400 {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.87px;
    color: var(--grey-neutro);
    padding-right: 1.5rem;
}

.our-solutions-item-text-700 {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.07px;
    color: var(--grey-neutro);
    padding-right: 1.5rem;
}

.our-solutions-item-list-icon-container {
    width: 46px;
    height: 46px;
    background: #FAFAFA;
    padding: 0.35rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.our-solutions-item-list-icon {
    width: 34px;
    height: 34px;
}

.our-solutions-item-list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: var(--black-white-100);
    margin-top: 0;
    margin-bottom: 0;
}

.our-solutions-item-list-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--black-white-100);
    margin-top: 0;

}

.our-solutions-item-list-text-container{
    padding-left: 1rem;
}

.our-solutions-item-list-container{
    margin-top: 0.5rem;
}