:root {
    --black-white-100: #3B3B44;
    --black-white-50: #F4F5F9;
    --white: #FFFFFF;
    --grey-neutro: #7A8285;
    --grey: #EEEEEE;
    --primary-color: #5E26CE;
}


body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


.header {
    font-size: 0px;
    height: 60px;
}

.hero {
    background-color: var(--black-white-50);
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-elip{
    right: 0px;
    top: 350px;
}

.hero-title {
    font-size: 40px;
    line-height: 42.76px;
    color: var(--black-white-100);
    font-weight: 900;
    margin: 0;
}

.hero-subtitle {
    color: var(--black-white-100);
    font-weight: 700;
    font-size: 16px;
    line-height: 22.94px;
}

.hero-img{
    position: relative;
}


.hero-img-elip{
    position: absolute;
    left: 30px;
}

/*SECTION 1*/

.our-solutions-img-Rectangle{
    left: 0;
    top: 80px;
}

.our-solutions-img-item{
    left: 30px;
}

.card {
    border-radius: 12.41px;
    box-shadow: 0px 0.9924356937408447px 9.924356460571289px 0px #7090B026;
    background-color: var(--white);
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 25.66px;
    color: var(--black-white-100);
}

.our-solutions-img {
    margin-top: 1.5rem;
    width: 174.83px;
    height: 154.06px;
    border-radius: 17.96px;

}

.our-solutions-item-container {
    padding: 1.5rem;
    margin-top: -2rem;
    padding-bottom: 1rem;
}

.our-solutions-item-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 23.52px;
}

.our-solutions-item-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 22.6px;
    color: var(--grey-neutro);
}

.item-text-400 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22.6px;
    color: var(--grey-neutro);
    padding-right: 1.5rem;
}

.our-solutions-item-text-700 {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.07px;
    color: var(--grey-neutro);
    padding-right: 1.5rem;
}

.our-solutions-item-list-icon-container {
    width: 46px;
    height: 46px;
    background: #FAFAFA;
    padding: 0.35rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.our-solutions-item-list-icon {
    width: 34px;
    height: 34px;
}

.our-solutions-item-list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: var(--black-white-100);
    margin-top: 0;
    margin-bottom: 0;
}

.our-solutions-item-list-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--black-white-100);
    margin-top: 0;

}

.our-solutions-item-list-text-container {
    padding-left: 1rem;
}

.our-solutions-item-list-container {
    margin-top: 0.5rem;
}

.btn-container {
    padding: 10px 0px;
    line-height: 70px;
}

.btn-details {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 181px;
    height: 41px;
}

.our-solutions-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.link-container {
    margin-top: 2rem;
}

.border-top-line{
    border-top: 14px solid gray;
}

/*SECTION 2*/

.testimonos-container {
    background: var(--black-white-50);
    padding-bottom: 2rem;
}

.testimonios-icon-line{
    left: 92.5px;
}

.testimonios{
    padding-top: 2rem;

}

.testimonios-icon-container {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: var(--primary-color);
    padding: 12.5px;
    left: 70px;
    z-index: 2;
}

.testimonios-icon {
    width: 19px;
    height: 15px;
}


.testimonios-text-container {
    width: 343px;
    height: 180px;
    border-radius: 25px;
    border: 1px solid var(--grey);
    background: #FDFDFE;
    margin: auto;
    padding: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 4rem;
    position: relative;
}

.testimonios-text-span{
    color: var(--primary-color);
    font-weight: 700;
}
