.p-container {
    --padding-container: 1.5rem;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    height: 100%;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.color-purple {
    color: color-mix(in srgb, #A333F5 100%, #5E26CE 100%)
}

.color-primary-500 {
    color: #5E26CE;
}

.color-grey {
    color: #7A8285;
}

.color-bw-100{
    color: #7A8285;
}

.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.font-900{
    font-weight: 900;
}

.mt-0{
    margin-top: 0;
}

.mt-1 {
    margin-top: 4rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 8px;
}

.mb-0{
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 2rem;
}

.mb-2{
    margin-bottom: 4rem;
}

.padding-20{
    padding: 20px;
}

.pt-1 {
    padding-top: 1.5rem;
}

.pt-2{
    padding-top: 4rem;
}

.p-box{
    padding: 10px 15px;
}

.pb-2{
    padding-bottom: 2rem;
}

.pr-0{
    padding-right: 0;
}

.backgroud-bw-50{
    background: #F4F5F9;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.z-index-1{
    z-index: 1;
}

.z-index-0{
    z-index: -1;
}

.z-index-2{
    z-index: 2;
}

.border-green {
    border-color: #69bc8b;
  }

.border-blue{
    border-color: #74ABD1;
}

.font-size-35{
    font-size: 35px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-12{
    font-size: 12px;
}

.remove-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.text-center{
    text-align: center;
}

.text-bold{
    font-weight: bold;
  }

  .border-purple{
    border-radius: 20px;
  border: 3px solid #5E26CE;
  }

  .list-none{
    list-style: none;
  }

  .line-height-2{
    line-height: 2.5;
  }

  .pd-left-0{
    padding-left: 0;
  }

  